@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}
:root{
  --primaryClr: #341458;
  --secondaryClr:#1DEFC5;
}
body{
/* min-height: 100vh; */
/* background-color: var(--primaryClr); */
}
header{
  padding: 0px 30px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #341458f2;
  backdrop-filter: blur(24px);
  color: white;
  #postal{
    color: var(--secondaryClr);
  }
  nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}

.hero {
  width: 100%;
  height: calc(100vh - 70px);
  background-color: var(--primaryClr); 
  background-image: url(https://themewagon.github.io/hotspace/images/city.png); 
  background-repeat: no-repeat;
  background-position: center; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  
}
 .hero .content{
  color: white;
  width: 90%;
  max-width: 800px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
p{
  font-size: 12px;
  line-height: 1.5rem;
}
  h1{
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3.6rem
  }
 }

 .input-area{
  display: flex;
  align-items: center;
  gap: 10px;
  width: 90%;
  max-width: 700px;

 }
 .inputbox{
  display: flex;
  width: 100%;
  background-color: white;
  overflow: hidden;
  border-radius: 10px;
  font-size: 25px;

 }
 input,select{
  font-size: clamp(17px, 4vw , 20px);
 }
 .input{
  padding: 15px;
  width: 100%;
  border: none;
  outline: none;
 }
 select{
  padding: 15px;
  background-color: #7836C6;
  color: white;
  border: none;
  outline: none;

 }

 button{
  padding: 15px;
  border-radius: 10px;
  background-color: var(--secondaryClr);
  border: none;
  display: flex;
  width: 200px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: clamp(17px, 4vw , 20px);

  cursor: pointer;
 }
 button:hover{
  background-color: white;
 }

.list12{
  height: 500vh;
  color: red;
  background-color: red;
}
.tbl{
  padding: 20px 10px;
  background-color: var(--primaryClr);
  .result{
    color: white;
    padding: 20px 0;
    font-family: "Ubuntu", sans-serif;

  }
}